/* line 3, ../resources/scss/helpers/_base.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 8, ../resources/scss/helpers/_base.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Slabo 27px', serif;
  min-height: 100%;
  position: relative;
}

/* line 18, ../resources/scss/helpers/_base.scss */
label {
  display: block;
  line-height: 3;
  font-weight: bold;
}

/* line 24, ../resources/scss/helpers/_base.scss */
table, th, td {
  border: 1px solid #480000;
  border-collapse: collapse;
  text-align: center;
}

/* line 30, ../resources/scss/helpers/_base.scss */
tr {
  text-align: center;
}

/* line 34, ../resources/scss/helpers/_base.scss */
table {
  width: 100%;
}
/* line 38, ../resources/scss/helpers/_base.scss */
table tr th {
  cursor: pointer;
}

/* line 45, ../resources/scss/helpers/_base.scss */
ul li {
  list-style-type: none;
  text-decoration: none;
}

/* line 51, ../resources/scss/helpers/_base.scss */
button {
  width: 100px;
  height: 30px;
  background-color: #4D4D4D;
  color: white;
  border-radius: 5px;
}

/* line 6, ../resources/scss/layout/_header.scss */
.container {
  color: black;
  overflow: hidden;
  background-color: white;
}

/* line 15, ../resources/scss/layout/_header.scss */
.page-header {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-color: #99FFCC;
  background: linear-gradient(#754719, #ffffff);
}
/* line 22, ../resources/scss/layout/_header.scss */
.page-header h2 {
  font-size: 40px;
  padding: 15px;
}

/* line 3, ../resources/scss/helpers/_base.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 8, ../resources/scss/helpers/_base.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Slabo 27px', serif;
  min-height: 100%;
  position: relative;
}

/* line 18, ../resources/scss/helpers/_base.scss */
label {
  display: block;
  line-height: 3;
  font-weight: bold;
}

/* line 24, ../resources/scss/helpers/_base.scss */
table, th, td {
  border: 1px solid #480000;
  border-collapse: collapse;
  text-align: center;
}

/* line 30, ../resources/scss/helpers/_base.scss */
tr {
  text-align: center;
}

/* line 34, ../resources/scss/helpers/_base.scss */
table {
  width: 100%;
}
/* line 38, ../resources/scss/helpers/_base.scss */
table tr th {
  cursor: pointer;
}

/* line 45, ../resources/scss/helpers/_base.scss */
ul li {
  list-style-type: none;
  text-decoration: none;
}

/* line 51, ../resources/scss/helpers/_base.scss */
button {
  width: 100px;
  height: 30px;
  background-color: #4D4D4D;
  color: white;
  border-radius: 5px;
}

/* line 5, ../resources/scss/layout/_content.scss */
.content {
  width: 100%;
  height: auto;
  padding: 40px 0;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #E6E6E6;
}
/* line 15, ../resources/scss/layout/_content.scss */
.content .form {
  padding: 12px;
}
@media screen and (max-width: 760px) {
  /* line 15, ../resources/scss/layout/_content.scss */
  .content .form {
    width: 100%;
  }
}
@media screen and (min-width: 760px) {
  /* line 15, ../resources/scss/layout/_content.scss */
  .content .form {
    float: left;
    border: 1px solid #480000;
    width: 40%;
  }
}
/* line 27, ../resources/scss/layout/_content.scss */
.content .form h3 {
  text-align: center;
}
/* line 32, ../resources/scss/layout/_content.scss */
.content .table {
  text-align: center;
}
@media screen and (max-width: 760px) {
  /* line 32, ../resources/scss/layout/_content.scss */
  .content .table {
    width: 100%;
    margin-top: 50px;
  }
}
@media screen and (min-width: 760px) {
  /* line 32, ../resources/scss/layout/_content.scss */
  .content .table {
    float: right;
    width: 56%;
  }
}
/* line 43, ../resources/scss/layout/_content.scss */
.content .table input {
  padding: 5px;
  margin-top: 15px;
}
@media screen and (max-width: 760px) {
  /* line 48, ../resources/scss/layout/_content.scss */
  .content .table table {
    margin-top: 25px;
  }
}
@media screen and (min-width: 760px) {
  /* line 48, ../resources/scss/layout/_content.scss */
  .content .table table {
    margin-top: 15px;
  }
}
/* line 56, ../resources/scss/layout/_content.scss */
.content .table h3 {
  text-align: center;
  text-align: center;
  margin-top: 10px;
}

/* line 64, ../resources/scss/layout/_content.scss */
.labels {
  height: auto;
  float: left;
}
@media screen and (max-width: 760px) {
  /* line 64, ../resources/scss/layout/_content.scss */
  .labels {
    width: 30%;
  }
}
@media screen and (min-width: 760px) {
  /* line 64, ../resources/scss/layout/_content.scss */
  .labels {
    width: 23%;
  }
}

/* line 76, ../resources/scss/layout/_content.scss */
.input-fields {
  height: auto;
  float: right;
  line-height: 3;
}
@media screen and (max-width: 760px) {
  /* line 76, ../resources/scss/layout/_content.scss */
  .input-fields {
    width: 70%;
  }
}
@media screen and (min-width: 760px) {
  /* line 76, ../resources/scss/layout/_content.scss */
  .input-fields {
    width: 77%;
  }
}

/* line 89, ../resources/scss/layout/_content.scss */
.input-style, .input-search-style {
  width: 90%;
  height: 20px;
}

/* line 94, ../resources/scss/layout/_content.scss */
.reset {
  float: right;
  color: red;
}

/* line 99, ../resources/scss/layout/_content.scss */
.search {
  margin-left: -105px;
}

/* line 103, ../resources/scss/layout/_content.scss */
.input-search-style {
  width: 70%;
  border-radius: 5px;
}
@media screen and (min-width: 760px) and (max-width: 825px) {
  /* line 103, ../resources/scss/layout/_content.scss */
  .input-search-style {
    width: 60%;
  }
}

/* line 113, ../resources/scss/layout/_content.scss */
.refresh {
  width: 29px;
  height: 27px;
  margin-left: 15px;
}

/* line 3, ../resources/scss/helpers/_base.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 8, ../resources/scss/helpers/_base.scss */
body {
  padding: 0;
  margin: 0;
  font-family: 'Slabo 27px', serif;
  min-height: 100%;
  position: relative;
}

/* line 18, ../resources/scss/helpers/_base.scss */
label {
  display: block;
  line-height: 3;
  font-weight: bold;
}

/* line 24, ../resources/scss/helpers/_base.scss */
table, th, td {
  border: 1px solid #480000;
  border-collapse: collapse;
  text-align: center;
}

/* line 30, ../resources/scss/helpers/_base.scss */
tr {
  text-align: center;
}

/* line 34, ../resources/scss/helpers/_base.scss */
table {
  width: 100%;
}
/* line 38, ../resources/scss/helpers/_base.scss */
table tr th {
  cursor: pointer;
}

/* line 45, ../resources/scss/helpers/_base.scss */
ul li {
  list-style-type: none;
  text-decoration: none;
}

/* line 51, ../resources/scss/helpers/_base.scss */
button {
  width: 100px;
  height: 30px;
  background-color: #4D4D4D;
  color: white;
  border-radius: 5px;
}

/* line 5, ../resources/scss/layout/_footer.scss */
footer {
  padding-top: 15px;
  border-top: 5px solid #C2AD99;
  background: linear-gradient(#c2ad99, #ffffff);
  overflow: hidden;
}
/* line 11, ../resources/scss/layout/_footer.scss */
footer ul {
  display: table;
  float: left;
}
/* line 15, ../resources/scss/layout/_footer.scss */
footer ul li {
  display: table-cell;
  width: 45px;
}
/* line 20, ../resources/scss/layout/_footer.scss */
footer ul li a img {
  width: 30px;
  height: 30px;
}

/* line 29, ../resources/scss/layout/_footer.scss */
.footer-links {
  float: right;
}
/* line 31, ../resources/scss/layout/_footer.scss */
.footer-links ul {
  display: inline-block;
}
/* line 33, ../resources/scss/layout/_footer.scss */
.footer-links ul li {
  width: 100px;
  display: inline-block;
}
/* line 37, ../resources/scss/layout/_footer.scss */
.footer-links ul li a {
  color: black;
  text-decoration: none;
}
/* line 41, ../resources/scss/layout/_footer.scss */
.footer-links ul li a:hover {
  text-decoration: underline;
  color: #191970;
}
