@import "compass";
@import 'helpers/_base';
@import 'helpers/_variables';

.content{
	width: 100%;
	height: auto;
	padding: 40px 20px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
 	max-width: 1300px;
 	background-color: $color-ltgrey;

	.form{				
		padding: 11px;		

		@media screen and (max-width: 760px){
			width: 100%;
		}
		@media screen and (min-width: 760px){
			@include float-left;
			border: 1px solid $color-darkred;
			width: 40%;
		}

		h3{
			text-align: center;
			text-decoration: underline;
			color: $color-brown;
		}

		@media only screen and (max-device-width: 760px){
			width: 100%;
		}

		@media only screen and (min-device-width: 760px){
			@include float-left;
			border: 1px solid $color-darkred;
			width: 40%;
		}

	}
	.table{
		text-align: center;
		padding: 11px;

		@media screen and (max-width: 760px){
			width: 100%;
			margin-top: 50px;
		}
		@media screen and (min-width: 760px){
			@include float-right;
			width: 56%;
		}

		@media only screen and (max-device-width: 760px) {
			width: 100%;
			margin-top: 50px;
		}
		@media only screen and (min-device-width: 760px) {
			@include float-right;	
			width: 55%;		
		} 
		
		input{
			padding: 5px;
			margin-top: 15px;
		}
		
		table{
			@media screen and (max-width: 760px){
				margin-top: 25px;
			}
			@media screen and (min-width: 760px){
				margin-top: 15px;
			}			
		}
		h3{
			text-align: center;
  			margin-top: 10px;
  			text-decoration: underline;
			color: $color-brown;
		}
	}
}

.labels{	
	height: auto;
	float: left;

	@media screen and (max-width: 760px){
		width: 30%;
	}
	@media screen and (min-width: 760px){
		width: 23%;
	}
}

.input-fields{
  	height: auto;
  	float: right;
  	line-height: 3;

  	@media screen and (max-width: 760px){
		width: 70%;
	}
	@media screen and (min-width: 760px){
		width: 77%;
	}
}

.input-style{
	width: 90%;
	height: 20px;
}

.reset{
	@include float-right;
	color: $color-red;
}

.search{
	margin-left: -105px;
}

.input-search-style{
	@extend .input-style;
	width: 70%;	
	border-radius: 5px;

	@media screen and (min-width: 760px) and (max-width: 825px){
		width: 60%;
	}
}

.refresh{
	width: 29px;
	height: 27px;
	margin-left: 15px;
}
