@import "compass";
@import 'helpers/_base';
@import 'helpers/_variables';


.container{
	// margin: 0 auto;
	// max-width: 1200px;
	// padding: 30px 20px;
	color: $color-black;
	overflow: hidden;
	background-color: $color-white;
}

.page-header{
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	background-color: $color-grblue;
	background: linear-gradient($color-drbrown, $color-white);

	h2{
		font-size: 40px;
		padding: 15px;
	}
}