//colours
$color-white: white;
$color-black: black;
$color-grblue: #99FFCC;
$color-darkred: #480000;
$color-drgray: #ACACAC;
$color-blue: #191970;
$color-red: red;
$color-cream: #FFE0CC;
$color-drgrey: #4D4D4D;
$color-yellow: #E6E68A;
$color-ltgrey: #E6E6E6;
$color-ltbrown: #C2AD99;
$color-drbrown: #754719;
$color-brown: brown;